### Errors 
When with python code, you are bound to meet errors. So the error names will guide you towards debugging.

In [6]:
### Syntax Error

student_names = [
    'brian,
    'marwa',
    'jacob'
]


student_names

SyntaxError: unterminated string literal (detected at line 4) (243956563.py, line 4)

In [19]:
### type error
student_names = [
    'brian',
    'marwa',
    'jacob'
]

x = student_names[0]
y = student_names[1]

# x/y

x * y

TypeError: can't multiply sequence by non-int of type 'str'

In [17]:
##attribute error - trying to access a method or a feature that is not associated
## with that data type
student_names.head()

AttributeError: 'list' object has no attribute 'head'

In [23]:
type(student_names)

list

In [21]:
import pandas as pd 


df = pd.Series(student_names)

df.head()

0    brian
1    marwa
2    jacob
dtype: object

In [20]:
len(student_names)

3

In [24]:
cities = {
    'Nairobi': 'Kenya',
    'Brazaville': 'Congo',
    'Kinshasa': 'DRC',
    'Dodoma': 'Tanzania'
}

cities.append({'Kampala':'Uganda'})

AttributeError: 'dict' object has no attribute 'append'

In [ ]:
## ModuleNotFound
import pandas as pd

##the library is not installed so install it and run again

# !pip install pandas

ModuleNotFoundError: No module named 'pandas'

In [ ]:
import panda as pd

ModuleNotFoundError: No module named 'panda'

In [ ]:
""" 
surprise ----> recommendation systems
"""
import surprise

!pip install scikit-surprise



!pip install surprise

In [2]:
import macbook as mac

ModuleNotFoundError: No module named 'macbook'

In [9]:
counter = 0

while counter <= 6:

    for i in range(50):
        # counter += 1
    print(f'Sing {i} time today')

IndentationError: expected an indented block after 'for' statement on line 5 (4077725794.py, line 7)

In [10]:
counter = 0

while counter <= 6:

    for i in range(50):
        counter += 1
            print(f'Sing {i} time today')

IndentationError: unexpected indent (3267628457.py, line 7)

In [ ]:


def title(name):
    name = name.title()
    return name

players = [
    'Allison Becker',
    'luke shaw',
    'Harry Maguire',
    'PaUl POgba',
    'Bruno FERNANdes',
    '1',
    'DaRWin Nunes',
    'Kylian MBaPPe',
    'James Rodriguez',
    'MaRTin ODegaaRd',
    'Bukayo SAKa',
    'Bukayo SAKa',
    'HARRy Kane',
    'HARRy Kane'
]


df = pd.Series(players)

df_updated = df.apply(title)

df_updated

NameError: name 'pd' is not defined

In [13]:
import pandas as pd

def title(name):
    name = name.title()
    return name

players = [
    'Allison Becker',
    'luke shaw',
    'Harry Maguire',
    'PaUl POgba',
    'Bruno FERNANdes',
    1,
    'DaRWin Nunes',
    'Kylian MBaPPe',
    'James Rodriguez',
    'MaRTin ODegaaRd',
    'Bukayo SAKa',
    'Bukayo SAKa',
    'HARRy Kane',
    'HARRy Kane'
]


df = pd.Series(players)

df_updated = df.apply(title)

df_updated

AttributeError: 'int' object has no attribute 'title'

In [ ]:
#TypeError ----> when using brackets on non-function attributes
df.shape()

TypeError: 'tuple' object is not callable

In [16]:
df.shape

(14,)

In [17]:
df[13]

'HARRy Kane'

In [18]:
df[20]

KeyError: 20

In [19]:
data = pd.read_csv('./data/premier-player-23-24.csv')

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580 entries, 0 to 579
Data columns (total 34 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Player       580 non-null    object
 1   Nation       580 non-null    object
 2   Pos          580 non-null    object
 3   Age          580 non-null    float64
 4   MP           580 non-null    int64
 5   Starts       580 non-null    int64
 6   Min          580 non-null    float64
 7   90s          580 non-null    float64
 8   Gls          580 non-null    float64
 9   Ast          580 non-null    float64
 10  G+A          580 non-null    float64
 11  G-PK         580 non-null    float64
 12  PK           580 non-null    float64
 13  PKatt        580 non-null    float64
 14  CrdY         580 non-null    float64
 15  CrdR         580 non-null    float64
 16  xG           580 non-null    float64
 17  npxG         580 non-null    float64
 18  xAG          580 non-null    float64
 19  npxG+xAG     580 non-null    float64
 20  PrgC         580 non-null    float64
 21  PrgP         580 non-null    float64
 22  PrgR         580 non-null    float64
 23  Gls_90       580 non-null    float64
 24  Ast_90       580 non-null    float64
 25  G+A_90       580 non-null    float64
 26  G-PK_90      580 non-null    float64
 27  G+A-PK_90    580 non-null    float64
 28  xG_90        580 non-null    float64
 29  xAG_90       580 non-null    float64
 30  xG+xAG_90    580 non-null    float64
 31  npxG_90      580 non-null    float64
 32  npxG+xAG_90  580 non-null    float64
 33  Team         580 non-null    object
dtypes: float64(28), int64(2), object(4)
memory usage: 154.2+ KB

In [22]:
data['player'].head()

KeyError: 'player'

In [25]:
data['Player'].head()

0             Rodri
1        Phil Foden
2           Ederson
3    Julián Álvarez
4       Kyle Walker
Name: Player, dtype: object