In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('./data/premier-player-23-24.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 580 entries, 0 to 579
Data columns (total 34 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Player       580 non-null    object
 1   Nation       580 non-null    object
 2   Pos          580 non-null    object
 3   Age          580 non-null    float64
 4   MP           580 non-null    int64
 5   Starts       580 non-null    int64
 6   Min          580 non-null    float64
 7   90s          580 non-null    float64
 8   Gls          580 non-null    float64
 9   Ast          580 non-null    float64
 10  G+A          580 non-null    float64
 11  G-PK         580 non-null    float64
 12  PK           580 non-null    float64
 13  PKatt        580 non-null    float64
 14  CrdY         580 non-null    float64
 15  CrdR         580 non-null    float64
 16  xG           580 non-null    float64
 17  npxG         580 non-null    float64
 18  xAG          580 non-null    float64
 19  npxG+xAG     580 non-null    float64
 20  PrgC         580 non-null    float64
 21  PrgP         580 non-null    float64
 22  PrgR         580 non-null    float64
 23  Gls_90       580 non-null    float64
 24  Ast_90       580 non-null    float64
 25  G+A_90       580 non-null    float64
 26  G-PK_90      580 non-null    float64
 27  G+A-PK_90    580 non-null    float64
 28  xG_90        580 non-null    float64
 29  xAG_90       580 non-null    float64
 30  xG+xAG_90    580 non-null    float64
 31  npxG_90      580 non-null    float64
 32  npxG+xAG_90  580 non-null    float64
 33  Team         580 non-null    object
dtypes: float64(28), int64(2), object(4)
memory usage: 154.2+ KB

In [10]:
df.head()

,Player,Nation,Pos,Age,MP,Starts,Min,90s,Gls,Ast,...,Ast_90,G+A_90,G-PK_90,G+A-PK_90,xG_90,xAG_90,xG+xAG_90,npxG_90,npxG+xAG_90,Team
0,Rodri,es ESP,MF,27.0,34,34,2931.0,32.6,8.0,9.0,...,0.28,0.52,0.25,0.52,0.12,0.12,0.24,0.12,0.24,Manchester City
1,Phil Foden,eng ENG,"FW,MF",23.0,35,33,2857.0,31.7,19.0,8.0,...,0.25,0.85,0.60,0.85,0.33,0.26,0.59,0.33,0.59,Manchester City
2,Ederson,br BRA,GK,29.0,33,33,2785.0,30.9,0.0,0.0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,Manchester City
3,Julián Álvarez,ar ARG,"MF,FW",23.0,36,31,2647.0,29.4,11.0,8.0,...,0.27,0.65,0.31,0.58,0.44,0.22,0.66,0.39,0.61,Manchester City
4,Kyle Walker,eng ENG,DF,33.0,32,30,2767.0,30.7,0.0,4.0,...,0.13,0.13,0.00,0.13,0.01,0.09,0.10,0.01,0.10,Manchester City

In [11]:
df.describe()

,Age,MP,Starts,Min,90s,Gls,Ast,G+A,G-PK,PK,...,Gls_90,Ast_90,G+A_90,G-PK_90,G+A-PK_90,xG_90,xAG_90,xG+xAG_90,npxG_90,npxG+xAG_90
count,580.000000,580.000000,580.000000,580.000000,580.000000,580.000000,580.000000,580.000000,580.000000,580.000000,...,580.000000,580.000000,580.000000,580.000000,580.000000,580.000000,580.000000,580.000000,580.000000,580.000000
mean,24.906897,19.627586,14.413793,1294.584483,14.383448,2.063793,1.481034,3.544828,1.898276,0.165517,...,0.125259,0.091621,0.216810,0.118155,0.209638,0.144983,0.100707,0.245845,0.138431,0.239466
std,4.464593,11.832419,11.926422,1024.720358,11.385342,3.621238,2.360729,5.391389,3.189739,0.779830,...,0.223161,0.160703,0.297085,0.214342,0.287035,0.222225,0.210713,0.348004,0.213947,0.340631
min,15.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,21.000000,9.000000,3.000000,342.750000,3.775000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.017500,0.010000,0.060000,0.017500,0.060000
50%,25.000000,20.000000,13.000000,1164.000000,12.950000,1.000000,0.000000,1.000000,1.000000,0.000000,...,0.030000,0.000000,0.100000,0.030000,0.100000,0.070000,0.060000,0.145000,0.070000,0.145000
75%,28.000000,30.000000,25.000000,2104.250000,23.400000,2.000000,2.000000,4.000000,2.000000,0.000000,...,0.170000,0.130000,0.310000,0.160000,0.300000,0.190000,0.140000,0.370000,0.180000,0.350000
max,38.000000,38.000000,38.000000,3420.000000,38.000000,27.000000,13.000000,33.000000,20.000000,9.000000,...,2.650000,1.700000,2.650000,2.650000,2.650000,3.230000,4.440000,5.540000,3.230000,5.540000